.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 200px;
}
.bottom{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 10px;

}